@import "defstyle.scss";
@import "settings.scss";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

$mainColor:#391145;
$mainFont:"Roboto";

body {
    font-size: rem(16);
    background-color: #fff;
    font-family: $mainFont;
    color: $mainColor;
    .lock & {
		overflow: hidden;
		touch-action: none;
		-ms-scroll-chaining: none;
		overscroll-behavior: none;
	}
}

[class*="__container"] {
    max-width: rem(1350);
    padding-right: rem(15);
    padding-left: rem(15);
    margin: 0 auto;
}

.wrapper {
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
}

.page {
    flex: 1 1 auto;
}

// ======================================================================= Commom =====================================================

.button{
    font-weight: 700;
    font-size: rem(14);
    line-height: percent(18,15);
    padding: rem(15) rem(15);
    border-radius: rem(30);
    background-color: #6DD0FE;
    cursor: pointer;
    color: $mainColor;
    transition: all 0.3s ease 0s;
    text-align: center;
    @media(any-hover:hover) {
        &:hover {
            background-color: #19a3e3;
        }
    }
    display: inline-block;
}

.title{
    @include adaptive-value("font-size", 50, 24);
    font-weight: 700;
    text-align: center;
    &_s70{
        @include adaptive-value("font-size", 70, 30);
    }
}

// ========================================================================== search-box ===============================================
.input-box{
    order: 2;
    position: relative;
    max-width: rem(20);
    height: rem(20);
    width: 100%;
    border-radius: rem(6);
    background-color: transparent;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    z-index: 5;
    @media (max-width: em(991.98)) { 
        height: rem(40);
        max-width: rem(300);
    }
  }
  .input-box.open{
    max-width: rem(270);
  }
  .input{
    position: relative;
    outline: none;
    border: none;
    height: 100%;
    width: 0%;
    border-radius: rem(6);
    font-size: rem(16);
    font-weight: 400;
    background-color: transparent;
    padding-right: rem(10);
    transition: all 0.6s ease 0s;
    @media (max-width: em(991.98)) { 
        width: 100%;
        padding: rem(0) rem(35) rem(0) rem(10);
        height: rem(40);
        background-color: #fff;
    }
    &::-webkit-input-placeholder{
        color: #333;
    }
    &::-moz-placeholder{
        color: #333;
    }
    &:-ms-input-placeholder{
        color: #333;
    }
    &::-ms-input-placeholder{
        color: #333;
    }
    &::placeholder{
        color: #333;
    }
  }
  .input.open{
    width: 100%;
    color: $mainColor;
  }
  .input-box.open{
    padding: 0 rem(15) 0 rem(30);
  }
  .icon{
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: rem(20);
    border-radius: rem(6);
    display: flex;
    justify-content: center;
    background-color: transparent;
    @media (max-width: em(991.98)) { 
        left: calc(100% - rem(30));
        pointer-events: none;
    }
  }
  .search-icon,
  .close-icon{
    position: absolute;
    top: 50%;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .search-icon{
    width: rem(20);
    height: rem(20);
    background: url("../img/search-icon.svg") 0 no-repeat;
    transform: translateY(-50%) rotate(0deg);
    cursor: pointer;
  }
  .input-box.open .search-icon{
    transform: translateY(-50%) rotate(90deg);
    cursor: initial;
  }
  .close-icon{
    @media (max-width: em(991.98)) { 
        display: none;
    }
    color: #000;
    padding: rem(15);
    opacity: 0;
    pointer-events: none;
    cursor: pointer;
    transform: translateY(-50%);
    &::before, &::after{
        content: '';
	    position: absolute;
	    display: block;
	    width: 15px;
	    height: 2px;
	    background: #000;
    }
    &::after{
        transform: rotate(45deg);
    }

    &::before{
        transform: rotate(-45deg);
    }
  }
  .input-box.open .close-icon{
    opacity: 1;
    pointer-events: auto;
    transform: translateY(-50%) rotate(180deg);
}

// ========================================================= Header ============================================================
.header {
    padding-top: rem(11);
    padding-bottom: rem(11);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;

    &.header-scroll{
        background-color:rgb(255, 255, 255, 0.9);
    }

    // .header__container

    &__container {
        display: grid;
        grid-template-columns: 1fr auto 1fr; 
        gap: rem(15);
        align-items: center;
        @media (max-width: em(991.98)) { 
            grid-template-columns:auto auto 1fr;
            gap: 0;
        }
    }

    // .header__column

    &__column {
        display: flex;
        -moz-column-gap: rem(30);
        column-gap: rem(30);
        align-items: center;
        @media (max-width: em(991.98)) { 
            -moz-column-gap: rem(15); 
                 column-gap: rem(15);
        }
    }

    &__column_right{
        justify-self: end;
    }


    // .header__menu

    &__menu {
        
    }

    // .header__input-box

    &__input-box {
    }

    // .header__logo

    &__logo {
        overflow: hidden;
        display: block;
        justify-self: center;
        @include adaptive-value("max-width", 230, 180, 2, 1440, 992);
        z-index: 5;
        img{
            max-width: 100%;
        }
        @media (max-width: em(991.98)) { 
            justify-self: start;
        }
        @media (max-width: em(410)) { 
            width: rem(50);
            img{
                max-width: none;
            }
        }
    }

    // .header__actions

    &__actions {
        display: flex;
        align-items: center;
        gap: rem(20);
    }

    // .header__button

    &__button {
        z-index: 5;
    }
}
.menu {

    // .menu_left

    &_left {
    
    }

    &_right{
        justify-content: end;
    }

    // .menu__body

    &__body {
        display: flex;
        flex-direction: column;
        gap: rem(40);
        align-items: center;
        text-align: center;

        @media (max-width: em(991.98)) {
            position: fixed;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: #3d2246;
            padding: rem(90) rem(15) rem(30) rem(15);
            transition: left 0.5s ease;

            &::before {
                content: '';
                position: fixed;
                top: 0;
                left: -100%;
                width: 100%;
                height: rem(69);
                background-color: #fff;
                z-index: 2;
                transition: left 0.5s ease;
            }

            .menu-open & {
                left: 0;

                &::before {
                    left: 0%;
                }
            }
        }
    }

    // .menu__list

    &__list {
        display: flex;
        -moz-column-gap: rem(30);
        column-gap: rem(30);
        @media (max-width: em(991.98)) { 
            flex-direction: column;
            row-gap: rem(40);
            order: 1;
        }
    }

    // .menu__item

    &__item {
    }

    // .menu__link

    &__link {
        position: relative;
        z-index: 10;
        color: inherit;
        line-height: percent(19,16);
        position: relative;
        transition: all 0.3s ease;

        @media(any-hover: hover) {
            &:hover {
                &::after {
                    width: 100%;
                }
            }
        }

        &::after {
            display: block;
            position: absolute;
            background-color: $mainColor;
            left: 0;
            width: 0;
            height: rem(1);
            content: "";
            transition: width 0.2s ease-out;
        }
    }

    @media (max-width: em(991.98)) { 
        color:#fff;
        font-size: rem(32);
    }
}

.icon-menu {
    display: none;
    background-color: transparent;

    @media (max-width: em(991.98)) {
        display: inline-block;
        position: relative;
        width: rem(30);
        height: rem(18);
        flex: 0 0 rem(30);
        z-index: 5;


        @media (any-hover: none) {
            cursor: default;
        }

        span,
        &::before,
        &::after {
            content: "";
            transition: all 0.3s ease 0s;
            position: absolute;
            width: 100%;
            height: rem(2);
            background-color: #000;
            right: 0;
        }

        &::before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }

        span {
            top: calc(50% - rem(1));
        }

        .menu-open & {
            span {
                width: 0;
            }

            &::before,
            &::after {}

            &::before {
                top: calc(50% - rem(1));
                transform: rotate(-45deg);
            }

            &::after {
                bottom: calc(50% - rem(1));
                transform: rotate(45deg);
            }
        }
    }
}

.page {

    // .page__main

    &__main {
    }
}

.main-page {
    background-color: #E9DCD6;
    position: relative;
    z-index: 2;
    &::before{
        display: block;
        position: absolute;
        content: "";
        background: url('/img/main/main-decor.svg') bottom no-repeat;
        width: 100%;
        height: 100%;
        bottom: 0;
        left: 0;
        z-index:-1;
        background-size: 100%;
    }
    // .main-page__container
    margin-top: rem(69);
    @include adaptive-value("padding-top", 180, 30);
    @include adaptive-value("padding-bottom", 300, 50);
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    // .main-page__title

    &__title {
        @include adaptive-value("font-size", 70, 32);
        max-width: rem(960);
        text-align: center;
        line-height: 1.2;
        z-index: 2;
        &:not(:last-child){
            margin-bottom: rem(12);
        }
        span{
            display: inline-block;
            position: relative;
            &::after{
                display: block;
                content: "";
                width: 100%;
                position: absolute;
                z-index: 1;
                top: 40%;
                left: 0;
                height: 100%;
                background: url("/img/main/underline.svg") center no-repeat;
                background-size: 100% auto;
            }
        }
    }

    // .main-page__text

    &__text {
        @include adaptive-value("font-size", 20, 16);
        line-height: percent(24,20);
        text-align: center;
        &:not(:last-child){
            @include adaptive-value("margin-bottom", 36, 20);
        }
    }

    // .main-page__button

    &__button {
        padding: rem(21) rem(36);
        margin-bottom: rem(20);
        @media (max-width: em(767.98)) { 
            padding: rem(15) rem(20);
        }
    }
}

.page-image {
    transform: translateY(-31%);
    position: relative;
    z-index: 3;
    // .page-image__container

    &__container {
        display: flex;
        justify-content: center;

    }

    // .page-image__image

    &__image {
        overflow: hidden;
        box-shadow: 10px 10px 50px 0 rgba(0,0,0,.25);
        max-width: rem(1015);
        transition: all 0.4s ease 0s;
        @media(any-hover:hover) {
            &:hover {
                transform: scale(1.03);
            }
        }
        img {
            width: 100%;
            -o-object-fit: cover;
            object-fit: cover;
        }
    }
}

.action {
    position: relative;
    @include adaptive-value("padding-bottom", 200, 20);
    
    &::before{
        content:"";
        position: absolute;
        display: block;
        background:url("../img/action/decor.svg") 0 0 no-repeat;
        top:7%;
        left: 46%;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    &__container{
        @include adaptive-value("padding-top", 110, 0);
        @include adaptive-value("height", 1200, 1000, 2, 1440, 992);
        position: relative;
    }

    // .action__title

    &__title {
        position: relative;
        z-index: 1;
    }

    // .action__slider

    &__slider {
    }

    // .action__wrapper

    &__wrapper {
    }

    // .action__slide

    &__slide {
    }

    // .action__image

    &__image {
        @media (min-width: em(991.98)) {
            transition: all 0.3s ease 0s;
            @media(any-hover:hover) {
                &:hover {
                    transform: scale(1.03);
                    z-index: 5;
                }
            } 
            position: absolute;
            &_1 {
                top: percent(210,1200);
                left: percent(420, 1350);
                z-index: 1
            }
    
            // .action__image_2
    
            &_2 {
                left: - percent(80,1350);
                top: percent(590,1200);
            }
    
            // .action__image_3
    
            &_3 {
                top: percent(440, 1200);
                right: - percent(150, 1350);
                z-index: 0;
            }
    
            // .action__image_4
    
            &_4 {
                top: 0;
                left: percent(70, 1350);
                z-index: 0;
            }
    
            // .action__image_5
    
            &_5 {
                top: percent(130, 1200);
                left: percent(1000, 1350);
                z-index: 1;
            }
    
            // .action__image_6
    
            &_6 {
                bottom: 0;
                left: percent(630, 1350);
            }
        }
        img{
            width: 100%;
            max-height: rem(1100);
        }
        // .action__image_1

        
    }
}

@media (max-width: em(991.98)) { 

    .swiper {
        overflow: hidden;
    }

    .swiper-wrapper {
        width: 100%;
        height: 100%;
        box-sizing: content-box;
        display: flex;
        position: relative;
    }


    .swiper-vertical {
        .swiper-wrapper {
            flex-direction: column;
        }
    }

    .swiper-autoheight {
        .swiper-wrapper {
            align-items: flex-start;
        }
    }

    .swiper-initialized {
        .swiper-slide {
            flex-shrink: 0;
            // transition-property: transform;
        }
    }

    .swiper-android {

        .swiper-slide,
        .swiper-wrapper {
            transform: translate3d(0px, 0, 0);
        }
    }

    .swiper-button-lock {
        display: none !important;
    }

    .action{
        &__image{
            position: relative;
        }
        &__slide{
            &:nth-child(-n+3){
                display: none;
            }
        }

        &__pagination{
            display: flex;
            gap: rem(10);
            justify-content: center;
            position: absolute;
            bottom: 2%;
            left: 50%;
            transform: translate(-50%, 0);
            @media (min-width: em(700)) { 
                display: none;
            }
        }
    }
    .swiper-pagination-bullet{
        transition: all 0.8s ease 0s;
        display: block;
        width: rem(15);
        height: rem(15);
        background-color: #caacd3;
        border-radius: 50%;
        &-active{
            background-color: $mainColor;
        }
    }
}

.tools {
    text-align: center;
    @include adaptive-value("padding-top", 100, 25);
    @include adaptive-value("padding-bottom", 100, 25);
    background-color: #F9F3F1;

    // .tools__title

    &__title {
        max-width: 700px;
        display: inline-block;
        &:not(:last-child){
            @include adaptive-value("margin-bottom", 85, 30);
        }
    }

    // .tools__items

    &__items {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(rem(350), 1fr));
        @include adaptive-value("column-gap", 200, 40);
        @include adaptive-value("row-gap", 90, 30);
        &:not(:last-child){
            @include adaptive-value("margin-bottom", 65, 30);
        };
        @media (max-width: em(767.98)) { 
            display: flex;
            flex-direction: column;
        }
    }

    // .tools__item

    &__item {
    }

    // .tools__button

    &__button {
        @include adaptive-value("padding", 20, 15);
        @media (max-width: em(499.98)) { 
            width: 100%;
        }
    }
}

.item-tools {
    display: flex;
    flex-direction: column;
    transition: all 0.5s ease 0s;
    gap: rem(16);
    @media(any-hover:hover) {
        &:hover {
            transform: scale(1.05);
        }
    }

    // .item-tools__image

    &__image {
        border-radius:rem(15);
        padding-bottom: percent(550,560);
        position: relative;
        box-shadow: 0 8px 12px 0 rgba(57,17,69,.2);
        overflow: hidden;
        
        img {
            position: absolute;
            height: 100%;
            top: 0;
            left: 0;
            -o-object-fit: cover;
            object-fit: cover;
            width: 100%;
        }
    }

    &__body{
        text-align: left;
        display: grid;
        gap: rem(16);
    }

    // .item-tools__label

    &__label {
        font-size: rem(15);
        line-height: percent(17,15);
        font-weight: 700;
    }

    // .item-tools__title

    &__title {
        @include adaptive-value("font-size", 30, 20);
        line-height: percent(33,30);
        font-weight: 700;
    }

    // .item-tools__text

    &__text {
        @include adaptive-value("font-size", 20, 16);
        line-height: percent(24,20);
    }

    &:first-child{
        position: relative;
        @media (min-width: em(991.98)) { 
           &::before{
                content: "";
                display: block;
                width: 100%;
                position: absolute;
                z-index: 1;
                top: -12%;
                left: 0%;
                height: 100%;
                background: url("/img/tools/decor.webp") 0 0 no-repeat;
                background-size: 35% 12%
           } 
        }
    }
}

.styles {
    // .styles__container

    &__container {
        text-align: center;
        @include adaptive-value("padding-top", 475,80);
        @include adaptive-value("padding-bottom", 175, 25);
        position: relative;
    }

    // .styles__title

    &__title {
        display: inline-block;
        max-width: 700px;
        &:not(:last-child){
            margin-bottom: rem(20);
        }
    }

    // .styles__text

    &__text {
        @include adaptive-value("font-size", 20, 16);
        line-height: percent(24,20);
        &:not(:last-child){
            margin-bottom: rem(20);
        }
        @media (max-width: em(767.98)) { 
            
        }
    }

    // .styles__button

    &__button {
        padding-left: rem(25);
        padding-right: rem(25);
        @media (max-width: em(767.98)) { 
            padding-left: rem(20);
            padding-right: rem(20);
        }
        span{
            display: flex;
            align-items: center;
            gap: rem(15);
            height: 100%;
            &::before{
                content:"";
                background:url("../img/styles/icons/shapes.svg") center center no-repeat;
                width: rem(20);
                height: rem(20);
            }
            &::after{
                content:"";
                background:url("../img/styles/icons/arrow.svg") center center no-repeat;
                width: rem(4);
                height: rem(11);
            }
        }
    }

    // .styles__image

    &__image {
        position: absolute;
        z-index: -1;
        img{
            width: 100%;
        }
        @media (max-width: em(767.98)) { 
            opacity: 0.5;
        }

        // .styles__image_1

        &_1 {
            width: percent(464, 1320);
            top: percent(115,970);
            left: percent(83,1320);
            @media (max-width: em(767.98)) { 
                top: 0;
                left: 30%;
                transform: translateX(-30%);
            }
        }

        // .styles__image_2

        &_2 {
            width: percent(140, 1320);
            top: percent(320,970);
            left: percent(36,1320);
            @media (max-width: em(767.98)) { 
                top: 20%;
            }
        }

        // .styles__image_3

        &_3 {
            width: percent(212, 1320);
            top: percent(688,970);
            left: percent(128,1320);
            @media (max-width: em(767.98)) { 
                left: 0;
                top: 55%;
            }
        }

        // .styles__image_4

        &_4 {
            width: percent(137, 1320);
            top: percent(385,970);
            left: percent(996,1320);
            @media (max-width: em(767.98)) { 
                top: 10%;
            }    
        }

        // .styles__image_5

        &_5 {
            width: percent(302, 1320);
            top: percent(661,970);
            right: 0;
            @media (max-width: em(767.98)) { 
                top: 55%;
            }
        }
    }
}

.illustrated {

    // .illustrated__container

    &__container {
        @include adaptive-value("padding-top", 100, 25);
        @include adaptive-value("padding-bottom", 100, 25);
        text-align: center;
        display: grid;
        @include adaptive-value("gap", 30, 20);
    }

    // .illustrated__title

    &__title {
    }

    // .illustrated__text

    &__text {
        font-size: rem(20);
        line-height: percent(24,20);
    }

    // .illustrated__label

    &__label {
        font-size: rem(15);
        line-height: percent(18,15);
    }

    // .illustrated__items

    &__items {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(rem(280), 1fr));
        gap: rem(30);
    }

    // .illustrated__item

    &__item {
        display: flex;
        flex-direction: column;
    }

    // .illustrated__image

    &__image {
        position: relative;
        padding-top: percent(420,420);
        img {
          position: absolute;
          height: 100%;
          top: 0;
          left: 0;
          -o-object-fit: cover;
             object-fit: cover;
          width: 100%;
        }
    }
}

.subscribe {

    // .subscribe__container

    &__container {
        background-color: #F9F3F1;
        border-radius:rem(20);
        @include adaptive-value("padding-top", 54, 20);
        @include adaptive-value("padding-bottom", 41, 20);
        display: flex;
        @include adaptive-value("gap", 270, 100, 2, 1440, 768);
        position: relative;
        @media (max-width: em(767.98)) { 
            flex-direction: column;
            gap: rem(30);
        }
    }

    // .subscribe__content

    &__content {
        flex: 1 1 50%;
        @include adaptive-value("padding-left", 83, 0, 2, 1440, 768);
        z-index: 1;
    }

    // .subscribe__label

    &__label {
        font-size: rem(20);
        line-height: percent(24,20);
    }

    // .subscribe__title

    &__title {
        text-align: left;
        max-width: 430px;
        @media (max-width: em(767.98)) { 
            max-width: none;
        }
    }

    // .subscribe__form

    &__form {
        flex: 1 1 50%;
        @include adaptive-value("padding-right", 150, 0, 2, 1440, 768);
        z-index: 1;
        @media (max-width: em(767.98)) { 
            max-width: rem(400);
        }
    }

    // .subscribe__decor

    &__decor {
        position: absolute;
        z-index: 0;
        img{
            width: 100%;
        }

        // .subscribe__decor_1

        &_1 {
            width: percent(464, 1320);
            top: 0;
            left: percent(300,1320);
            @media (max-width: em(767.98)) { 
                width: 60%;
            }
        }

        // .subscribe__decor_2

        &_2 {
            width: percent(209, 1320);
            top: percent(105,325);
            left: percent(16,1320);
            @media (max-width: em(767.98)) { 
                width: 30%;
            }
        }

        // .subscribe__decor_3

        &_3 {
            width: percent(346, 1320);
            bottom: 0;
            left: percent(362,1320);
            @media (max-width: em(991.98)) { 
                right: 10%;
                left: initial;
            }
            @media (max-width: em(767.98)) { 
                width: 40%;
            }
        }
    }
}
.form {

    // .form__item

    &__item {
        position: relative;
        &:not(:last-child){
            margin-bottom: rem(20);
        }
        &:nth-last-child(2){
            &:not(:last-child){
                margin-bottom: rem(30);
            }
        }
    }

    // .form__input

    &__input {
        background-color: #fff;
        width: 100%;
        height: rem(60);
        border-radius: rem(30);
        padding: rem(17) rem(27);
        font-size: rem(20);
        line-height: percent(24, 20);

        ._form-focus & {
            &::-webkit-input-placeholder {
                opacity: 0;
            }

            &::-moz-placeholder {
                opacity: 0;
            }

            &:-ms-input-placeholder {
                opacity: 0;
            }

            &::-ms-input-placeholder {
                opacity: 0;
            }

            &::placeholder {
                opacity: 0;
            }
        }

        ._form-error & {
            &::-webkit-input-placeholder {
                color: red;
            }

            &::-moz-placeholder {
                color: red;
            }

            &:-ms-input-placeholder {
                color: red;
            }

            &::-ms-input-placeholder {
                color: red;
            }

            &::placeholder {
                color: red;
            }
        }

        &::-webkit-input-placeholder {
            color: rgba(57, 17, 69, 0.35);
        }

        &::-moz-placeholder {
            color: rgba(57, 17, 69, 0.35);
        }

        &:-ms-input-placeholder {
            color: rgba(57, 17, 69, 0.35);
        }

        &::-ms-input-placeholder {
            color: rgba(57, 17, 69, 0.35);
        }

        &::placeholder {
            color: rgba(57, 17, 69, 0.35);
        }
    }

    // .form__button

    &__button {
        padding: rem(18) rem(10);
        font-size: rem(20);
        line-height: percent(24,20);
        @media (max-width: em(499.98)) { 
            width: 100%;
        }
    }
    &__error {
        padding: rem(5) rem(24) rem(0) rem(24);
        color: red;
        font-size: rem(14);
        position: absolute;
        bottom: rem(-15);
        left: 0;
    }
}

.footer {
    @include adaptive-value("padding-top", 64, 25);
    @include adaptive-value("padding-bottom", 64, 25);

    // .footer__container

    &__container {
        border-top: 1px solid #D1D5DB;
        @include adaptive-value("padding-top", 64, 25);
    }

    // .footer__body

    &__body {
        display: flex;
        justify-content: space-between;
        row-gap: rem(20);
        &:not(:last-child){
            @include adaptive-value("margin-bottom", 28, 0);
        }
        @media (max-width: em(991.98)) { 
            flex-direction: column-reverse;
        }
    }

    // .footer__social

    &__social {
        align-self: end;
        @media (max-width: em(991.98)) { 
            align-self: start;
        }
    }

    // .footer__menu

    &__menu {
    }

    // .footer__copy

    &__copy {
        font-size: rem(12);
        line-height: percent(17,12);
    }
}
.social {
    padding-bottom: rem(16);
    display: flex;
    gap: rem(32);

    // .social__item

    &__item {
    }
}
.menu-footer {
    display: flex;
    // @include adaptive-value("column-gap", 48, 20, 0, 1440,992);
    -moz-column-gap:rem(48);
    column-gap:rem(48);
    row-gap:rem(20);

    // .menu-footer__column
    @media (max-width: em(991.98)) { 
        flex-wrap: wrap;
    }

    &__column {
        @include adaptive-value("width", 166, 120, 0, 1440, 992);
    }

    // .menu-footer__title

    &__title {
        font-size: rem(15);
        line-height: percent(22,15);
        &:not(:last-child){
            @include adaptive-value("margin-bottom", 15, 10);;
        }
    }

    // .menu-footer__list

    &__list {
    }

    // .menu-footer__item

    &__item {
        padding: rem(8) 0;
    }

    // .menu-footer__link

    &__link {
        color:inherit;
        @media(any-hover:hover) {
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
